# Ignore BlueJ backup files
*.class
*.ctxt
*.class~

# Ignore package information files
*.pkg

# Ignore BlueJ-specific configuration files
bluej.project

# Ignore system files
.DS_Store
Thumbs.db

package.bluej
